
.DS_Store
.vs/GF/xs/sqlite3/db.lock
.vs/GF/xs/sqlite3/storage.ide
.vs/GF/xs/sqlite3/storage.ide-shm
.vs/GF/xs/sqlite3/storage.ide-wal
.vs/GF/xs/UserPrefs.xml
.vs/GF_GOS/xs/sqlite3/db.lock
.vs/GF_GOS/xs/sqlite3/storage.ide
.vs/GF_GOS/xs/sqlite3/storage.ide-shm
.vs/GF_GOS/xs/sqlite3/storage.ide-wal
.vs/GF_GOS/xs/UserPrefs.xml
